:root {
    --primaryColor: #d5ff40;
    --secondaryColor: #000000;
    --headerFont: 'Reem Kufi Fun', sans-serif;
    --bodyFont: 'Quicksand', sans-serif;
    --flexGap: 60px
}


/* General */

* {
    padding: 0;
    margin: 0;
}


/* Gradient Background */

body {
	background: linear-gradient(-45deg, #1fb17c, #51c097, #9dcda5, #45bf7b);
	background-size: 400% 400%;
	animation: gradient 9s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


/* Typography */

.title {
    font-family: var(--headerFont);
    color: var(--secondaryColor);
}
p {
    font-family: var(--bodyFont);
    font-size: 1.2rem;
    line-height: 1.35;
    font-weight: 300;
}

/* Navigation */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px 0;

    .logo {

        img {
            width: 80px;
        }
    }
    .menu {
        display: flex;
        gap: 40px;
        
        .info-flex {
            display: flex;
            align-items: center;
            gap: 20px;
            border: 2px solid var(--secondaryColor);
            text-decoration: none;

            &:hover .phone img {
                animation: shake 0.5s;
                
            }
            @keyframes shake {
                0% { transform: translate(0, 0); }
                10% { transform: translate(-2px, 0); }
                20% { transform: translate(2px, 0); }
                30% { transform: translate(-2px, 0); }
                40% { transform: translate(2px, 0); }
                50% { transform: translate(-2px, 0); }
                60% { transform: translate(2px, 0); }
                70% { transform: translate(-2px, 0); }
                80% { transform: translate(2px, 0); }
                90% { transform: translate(-2px, 0); }
                100% { transform: translate(0, 0); }
            }
            &:hover .email img {
                transform: translateY(-50px)
              }
            .info-img {
                height: 50px;
                background-color: var(--secondaryColor);
                overflow: hidden;

                img {
                    width: 25px;
                    padding: 13px;
                    transition: transform .45s ease-in-out;
                }
            }
            .info-link {
                padding-right: 20px;

                p {
                    font-family: var(--headerFont);
                    color: var(--secondaryColor);
                    font-size: 18px;
                }
            }
        }
    }
}


/* Splash */

#splash {
    padding: 60px 30px;
    display: flex;
    align-items: end;

    .left-col {
        width: 70%;

        h1 {
            font-family: var(--headerFont);
            color: var(--secondaryColor);
            font-size: 14rem;
            letter-spacing: -9px;
            line-height: .9;
            font-weight: 700;
    
            .top {
                display: block;
                transform: translateX(20px);
            }
        }
    }
    .right-col {
        width: 30%;

        p {
            padding-bottom: 1.2rem;
            font-size: 1.8rem;

            img {
                width: 30px;
                transform: translateY(5px);
            }
        }
    }
}

/* Projects */

#projects {
    padding: 0 60px 60px;

    .projects-flex {
        display: flex;
        flex-wrap: wrap;
        gap: var(--flexGap);

        .project {
            width: calc((100% - (1 * var(--flexGap))) / 2);
            height: 350px;
            background-color: #fff;
            transition: transform .3s ease-in-out;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

            &:hover {
                transform: scale(1.015);
            }
        }
    }
}


/* Footer */

footer {

    .copyright {
        padding: 0 60px 60px;

        p {
            text-align: center;
            font-size: 14px;
        }
    }
}