:root {
  --primaryColor: #d5ff40;
  --secondaryColor: #000000;
  --headerFont: "Reem Kufi Fun", sans-serif;
  --bodyFont: "Quicksand", sans-serif;
  --flexGap: 60px ;
}

/* General */
* {
  padding: 0;
  margin: 0;
}

/* Gradient Background */
body {
  background: linear-gradient(-45deg, #bababa, #c1c1c1, #cecece, #d4d4d4);
  background-size: 400% 400%;
  animation: gradient 12s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* Typography */
.title {
  font-family: var(--headerFont);
  color: var(--secondaryColor);
}

p {
  font-family: var(--bodyFont);
  font-size: 1.2rem;
  line-height: 1.35;
  font-weight: 300;
}

/* Navigation */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 30px 0;
}
nav .logo img {
  width: 80px;
}
nav .menu {
  display: flex;
  gap: 40px;
}
nav .menu .info-flex {
  display: flex;
  align-items: center;
  gap: 20px;
  border: 2px solid var(--secondaryColor);
  text-decoration: none;
}
nav .menu .info-flex:hover .phone img {
  animation: shake 0.5s;
}
@keyframes shake {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-2px, 0);
  }
  20% {
    transform: translate(2px, 0);
  }
  30% {
    transform: translate(-2px, 0);
  }
  40% {
    transform: translate(2px, 0);
  }
  50% {
    transform: translate(-2px, 0);
  }
  60% {
    transform: translate(2px, 0);
  }
  70% {
    transform: translate(-2px, 0);
  }
  80% {
    transform: translate(2px, 0);
  }
  90% {
    transform: translate(-2px, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
nav .menu .info-flex:hover .email img {
  transform: translateY(-6px);
}
nav .menu .info-flex .info-img {
  height: 50px;
  background-color: var(--secondaryColor);
  overflow: hidden;
}
nav .menu .info-flex .info-img img {
  width: 25px;
  padding: 13px;
  transition: transform 0.36s ease-in-out;
}
nav .menu .info-flex .info-link {
  padding-right: 20px;
}
nav .menu .info-flex .info-link p {
  font-family: var(--headerFont);
  color: var(--secondaryColor);
  font-size: 18px;
}

/* Splash */
#splash {
  padding: 60px 30px;
  display: flex;
  align-items: end;
  gap: 30px;
}
#splash .left-col h1 {
  font-family: var(--headerFont);
  color: var(--secondaryColor);
  font-size: 14rem;
  letter-spacing: -9px;
  line-height: 0.9;
  font-weight: 700;
}
#splash .left-col h1 .top {
  display: block;
  transform: translateX(20px);
}
#splash .right-col p {
  padding-bottom: 1.2rem;
  font-size: 1.8rem;
}
#splash .right-col p img {
  width: 30px;
  transform: translateY(5px);
}

/* Jobs */

#jobs .job-1 {
  padding: 60px 45px;
  background-color: #00000018;
}
#jobs .job-2 {
  padding: 60px 45px;
  background-color: #00000028;
}
#jobs .job-3 {
  padding: 60px 45px;
  background-color: #00000042;
}
#jobs .job {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
#jobs .job .left .logo {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
}
#jobs .job .left .logo img {
  width: 50px;
  border-radius: 50%;
}
#jobs .job .left .logo-text h3 {
  font-family: var(--headerFont);
  font-size: 2rem;
  line-height: 1;
  margin-bottom: 3px;
}
#jobs .job .left .logo-text h4 {
  font-family: var(--bodyFont);
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1;
}
#jobs .job .right p {
  font-family: var(--bodyFont);
  font-weight: 400;
  font-size: 1.5rem;
}

/* Projects */
#projects {
  padding: 60px;
}
#projects .projects-flex {
  display: flex;
  flex-wrap: wrap;
  gap: var(--flexGap);
}
#projects .projects-flex .project {
  width: calc((100% - 3 * var(--flexGap)) / 4 - 6px);
  height: 180px;
  transition: transform 0.25s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
#projects .projects-flex .project.boomco-project {
  background-image: url(/media/boomco-project.png);
  background-size: contain;
  background-position: center;
  border: 3px solid #f67e20;
  position: relative;
}
#projects .projects-flex .project.boomco-project:before {
  content: "Visit Site";
  font-family: var(--headerFont);
  background-color: #f67e20;
  color: #fff;
  padding: 10px 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  opacity: 0;
}
#projects .projects-flex .project.boomco-project:hover:before {
  opacity: 1;
}
#projects .projects-flex .project.grayson-project {
  background-image: url(/media/grayson-project.png);
  background-size: contain;
  background-position: center;
  border: 3px solid #0e6964;
  position: relative;
}
#projects .projects-flex .project.grayson-project:before {
  content: "Visit Site";
  font-family: var(--headerFont);
  background-color: #0e6964;
  color: #fff;
  padding: 10px 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  opacity: 0;
}
#projects .projects-flex .project.grayson-project:hover:before {
  opacity: 1;
}
#projects .projects-flex .project.busybee-project {
  background-image: url(/media/busybee-project.png);
  background-size: contain;
  background-position: center;
  border: 3px solid #269139;
  position: relative;
}
#projects .projects-flex .project.busybee-project:before {
  content: "Visit Site";
  font-family: var(--headerFont);
  background-color: #269139;
  color: #fff;
  padding: 10px 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  opacity: 0;
}
#projects .projects-flex .project.busybee-project:hover:before {
  opacity: 1;
}
#projects .projects-flex .project.trimlight-project {
  background-image: url(/media/trimlight-project.png);
  background-size: contain;
  background-position: center;
  border: 3px solid #000000;
  position: relative;
}
#projects .projects-flex .project.trimlight-project:before {
  content: "Visit Site";
  font-family: var(--headerFont);
  background-color: #000000;
  color: #fff;
  padding: 10px 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  opacity: 0;
}
#projects .projects-flex .project.trimlight-project:hover:before {
  opacity: 1;
}
#projects .projects-flex .project:hover {
  transform: scale(1.02);
}

/* Footer */
footer .copyright {
  padding: 0 60px 60px;
}
footer .copyright p {
  text-align: center;
  font-size: 14px;
}/*# sourceMappingURL=styles.css.map */