:root {
    --primaryColor: #d5ff40;
    --secondaryColor: #000000;
    --headerFont: 'Reem Kufi Fun', sans-serif;
    --bodyFont: 'Quicksand', sans-serif;
    --flexGap: 60px
}


/* General */

* {
    padding: 0;
    margin: 0;
}


/* Gradient Background */

body {
	background: linear-gradient(-45deg, #ceb5fd, #dfbbfe, #bfbbff, #e8c2fd);
	background-size: 400% 400%;
	animation: gradient 9s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


/* Typography */

.title {
    font-family: var(--headerFont);
    color: var(--secondaryColor);
}
p {
    font-family: var(--bodyFont);
    font-size: 1.2rem;
    line-height: 1.35;
    font-weight: 300;
}

/* Navigation */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px 0;

    .logo {

        img {
            width: 80px;
        }
    }
    .menu {
        
        ul {
            display: flex;
            gap: 30px;

            li {
                list-style: none;

                a {
                    text-decoration: none;
                    font-family: var(--bodyFont);
                    color: var(--secondaryColor);
                    font-size: 1.5rem;
                    font-weight: 300;
                }
            }
        }
    }
}


/* Splash */

#splash {
    padding: 60px 30px;
    display: flex;
    align-items: end;

    .left-col {
        width: 70%;

        h1 {
            font-family: var(--headerFont);
            color: var(--secondaryColor);
            font-size: 14rem;
            letter-spacing: -9px;
            line-height: .9;
            font-weight: 700;
    
            .top {
                display: block;
                transform: translateX(20px);
            }
        }
    }
    .right-col {
        width: 30%;

        p {
            padding-bottom: 1.2rem;
            font-size: 1.5rem;
        }
    }
}

/* Projects */

#projects {
    padding: 0 60px;

    .projects-flex {
        display: flex;
        flex-wrap: wrap;
        gap: var(--flexGap);

        .project {
            width: calc((100% - (1 * var(--flexGap))) / 2);
            border-radius: 6px;
            height: 350px;
            background-color: #f7f7f7;
        }
    }
}